<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <calculator.Properties.Settings>
            <setting name="Zero" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="One" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Two" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Three" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Four" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Five" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Six" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Seven" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Eight" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Nine" serializeAs="String">
                <value>9</value>
            </setting>
        </calculator.Properties.Settings>
    </applicationSettings>
</configuration>